* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    text-decoration: none
}

body{
    User-Select: none
}

@tailwind base;
@tailwind components;
@tailwind utilities;
